html {
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%
}
.article-content ul {
    margin-left: 2em;
}

.article-content ul li {
    list-style: disc;
}

a.article-tag {
/*    padding: 1px;
    border: 1px solid #000;
    border-radius: 5px;
*/    text-decoration: underline;
}