<ul class="posts">
    {% for page in pages %}
        <li class="post">
            <div class="row">
                <div class="col s12">
                    <div class="card grey lighten-2">
                        <div class="card-content">
                            <div class="post-date">
                            <span>{{ page.meta.get("published") }}</span>
                        </div>
                        <div class="post-title card-title">
                            <a href="{{ url_for("article", path=page.path) }}">{{ page.title }}</a>
                        </div>
                        <div class="post-preview">
                            {{ page.html[:250] | striptags }}...
                        </div>
                        {% if page.meta.tags|length %}
                            <br>
                            <div class="post-tags card-action">
                                {% for page_tag in page.meta.tags %}
                                    <a href="{{ url_for("tag", tag=page_tag) }}"> {{ page_tag }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </li>
    {% else %}
        <li>No page.</li>
    {% endfor %}
</ul>