{% extends "base.html" %}

{% block title %}About | Chen Zhou{% endblock title %}

{% block page_content %}
<div class="container">
    <div>
        <h2>About</h2>
    </div>

    <div>
        <p>
            This site was powered by Flask, a python web framework, with Frozen-Flask to generate static pages.
        </p>
        <p>
            Materilze css was implemented in this site, and I used mathjax to render math notation. For syntax highlighting, I used highliginting.js .
        </p>
    </div>
</div>


{% endblock page_content %}