{% extends "base.html" %}
{% block title %}{{ article.title }} - Chen Zhou{% endblock title %}
{% block head %}
{{ super() }}
<script type="text/javascript"
src="https://cdnjs.net/ajax/libs/mathjax/2.5.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/8.4/styles/default.min.css">
<script src="//cdn.jsdelivr.net/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock head %}
{% block page_content %}
<div>
    <div class="row">
        <div class="container">
            <h2>{{ article.title | title }}</h2>
            <div>
                <span>{{ article.meta.get("published") }}</span>
                {% if article.meta.get("tags") %}| Tags:
                    {% for page_tag in article.meta.get("tags", []) %}
                        <a href="{{ url_for("tag", tag=page_tag) }}"> {{ page_tag | capitalize }}</a>
                    {% endfor %}
                {% endif %}
            </div>
            <br>
            <div class="divider"></div>
            <div class="section">
                {{ article.html | safe }}
            </div>
            <div class="divider"></div>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="before left">
            {% if before %}
                <a class="waves-effect waves-light btn" href="{{ url_for("article", path=before.path) }}">Prev: {{ before.title }}</span></a>
            {% else %}
                <a class="btn disabled">Prev: This is the newest</a>
            {% endif %}
        </div>
        <div class="after right">
            {% if after %}
                <a class="waves-effect waves-light btn" href="{{ url_for("article", path=after.path) }}">Next: {{ after.title }}</a>
            {% else %}
                <a class="btn disabled">Next: This is the end.</a>
            {% endif %}
        </div>
    </div>
    
</div>
{% endblock page_content %}